/venv
/py/output
/output
/py/config.xlsx
/py/~$config.xlsx

# Python cache
__pycache__/
*.py[cod]
*$py.class
/py/log.txt
.pytest_cache/

AzureSignFile.txt
SignfileMetadata.json
config.xlsx
/py/ICBC E-Stamp Copies
/py/log.txt