# Virtual environments
venv/

# Build/output folders
output/
py/output/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logs
py/log.txt

# Excel / config files
config.xlsx
py/config.xlsx
py/~$config.xlsx


# Misc project files
.CLAUDE.md

# Specific directories
py/ICBC E-Stamp Copies/